

.divimg{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),  url('../../../assets/tec.jpg') ;

    height: 100vh;
    
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.text{

    position: absolute;
    top: 225px;
    margin-left: 40px;
}

.photo{
    opacity: .90;
    width: 100%;
    height: 100vh;
    padding: 0;
}


.h2oi{
    margin-bottom: -10px;
}

.h1name{
    font-size: 4.2rem;
    line-height: 1.2;
    color: white;
    border: 200px;
}

.h2prof{
    margin-left: 266px;
    color: white;
}