

<div class="row cursos">
    
    <div class="nomeprincipal text-primary mr-8">cursos</div>

    <div class="col-md-6 mb-5">
        <i class="fab fa-java"></i><h3 class="h4"><span class="text-primary mr-8">01</span>Java</h3>
    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">02</span>HTML5</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">03</span>CSS3</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">04</span>JavaScript</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">05</span>AppInventor</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">06</span>PostgreSQL</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">07</span>Manutencão de Tablets e Celulares</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="text-primary mr-2">08</span>PHP</h3>

    </div>
</div>