

<div class="row cursos">
    
    <div class="nomeprincipal mr-8">cursos</div>

    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>Java</h3>
    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>Spring Boot</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>HTML5</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>CSS3</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>JavaScript</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>TypeScript</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>PostgreSQL</h3>

    </div>
    <div class="col-md-6 mb-5">
        <h3 class="h4"><span class="material-icons">done_all</span>MySQL</h3>
        
    </div>
</div>