<header class="">
    <div class="container">
        <div class="d-flex flex-wrap align-items-right">
            <ul class="nav col-12">
                <li><a href="#" class="nav-link px-2 text-black">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Sobre</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Contato</a></li>
                <li><a href="#" class="nav-link px-2 text-black">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-black">About</a></li>
            </ul>
        </div>
    </div>
</header>