<header class="">
    <div class="container">
        <div class=" bg-cover bg-center">
            <ul class="text nav col-12">
                <li><a href="#" class="nav-link px-2 text-black">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Sobre</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Cursos</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Educação</a></li>
                <li><a href="#" class="nav-link px-2 text-black">Contato</a></li>
            </ul>
        </div>
    </div>
</header>